@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color:hsl(218, 22%, 67%) ;
    font-family: 'karla', sans-serif;
}


  button{
    width: 100%;
    padding: 1rem 0rem;
    background-color:hsl(71, 73%, 54%) ;
    border-radius: 5px;
    border: 1px solid hsl(71, 73%, 54%);
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  }

  .wrap{
    width: 90%;
    max-width: 28.125rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    box-shadow: 0rem .625rem 1.25rem rgba(0, 0, 0, .4);
    box-shadow: 0rem .625rem 1.25rem rgba(0, 0, 0, .2);
  }

  
/*cardone*/
  .cardone{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 1.875rem 1.5625rem 1rem;
    border:1px solid #fff ;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    animation: fadeTop ease-out 1s;
  }

  .cardone h1{
font-weight: 400;
font-size: 24px;
color: hsl(179, 62%, 43%);
margin: 10px 5px;
  }

  .cardone h2{
font-weight: 300;
font-size: 16px;
color:hsl(71, 73%, 54%) ;
margin: 15px 5px;
  }

  .cardone p{
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;
    color:hsl(204, 43%, 93%) ;
    margin: 15px 5px;
      }
    
/*cardtwo*/
.cardtwo{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1.5rem 1.5625rem;
    border:1px solid hsl(179, 62%, 43%) ;
    background-color:hsl(179, 62%, 43%);
    animation: fadeLeft ease-out 1s;
  }

  .cardtwo h1{
font-weight: 400;
font-size: 24px;
color: #fff;
margin: 10px 5px;
  }

  .cardtwo h2{
font-weight: 500;
font-size: 20px;
color:#fff ;
margin: 15px 5px;
  }

  .cardtwo span {
color: hsl(204, 43%, 93%);
font-weight: 200;
font-size: 14px;
margin-right: 5px;
  }

  .cardtwo p{
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;
    color:#fff ;
    margin: 15px 5px;
      }

      /*cardthree*/
  .cardthree{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 1.25rem 1.5625rem;
    border:1px solid hsl(179, 46%, 57%) ;
    background-color: hsl(179, 46%, 57%)  ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    animation:FadeRight ease-out 1s;
  }

  .cardthree h1{
font-weight: 300;
font-size: 16px;
color:#fff ;
margin: 15px 20px;
  }

  .cardthree p{
    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    color:#fff ;
    margin: 15px 20px;
      }

      @media only screen and (max-height: 800px){
        .main{
          padding: 2rem 0rem;
        }
      }

      @media only screen and (min-width: 768px){
        .wrap{
          max-width: 700px;
          grid-template-columns: 50% 50%;
          grid-template-rows: repeat(2, auto);
        }
        .cardone{
          grid-column: 1 / 3;
          grid-row: 1 / 2;
          padding: 1.875rem 2.5rem;
        }
        .cardone h2{
          font-size: 1.125rem;
        }
        .cardone p{
          width: 95%;
          font-size: 1.0625rem;
        }
      
        .cardtwo{
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          border-bottom-left-radius: .3125rem;
          padding: 1.875rem 2.5rem;
        }
        .cardthree{
          grid-column: 2 / 3;
          grid-row: 2 / 3;
          border-bottom-left-radius: 0rem;
          padding: 1.875rem 2.5rem;
        }
      }

      @keyframes fadeRight {
        from{
          opacity: 0;
          transform: translateX(10rem);
        }
        to{
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      @keyframes fadeLeft {
        from{
          opacity: 0;
          transform: translateX(-10rem);
        }
        to{
          opacity: 1;
          transform: translateX(0);
        }
      }

      @keyframes fadeTop {
        from{
          opacity: 0;
          transform: translateY(-10rem);
        }
        to{
          opacity: 1;
          transform: translateY(0);
        }
      }